@import 'bootstrap/bootstrap';
@import 'mixin';

.banner {
    background-image: url(../img/banner.png);
    background-size: cover;
    height: 640px;
}

@include desktop() {
    .banner {
        height: 780px;
    }
}