.banner {
    position: relative;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 640px;

    @include desktop() {
        height: 780px;
    }
}